[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
django-phonenumber-field = "*"
pillow = "*"
djangorestframework = "*"
django-rest-knox = "*"
social-auth-core = "*"
social-auth-app-django = "*"
django-allauth = "*"
channels = {extras = ["daphne"], version = "*"}
google-auth = "*"
django-filter = "*"

[dev-packages]

[requires]
python_version = "3.11"
