django
flask
pillow
djangorestframework 
django-rest-knox 
channels
channels[daphne]
google-auth
django-extensions
graphviz
pyparsing
pydot
django-filter
django-cors-headers
django-phonenumber-field
django-phonenumber-field[phonenumbers]
requests
