{% extends 'stats_base.html' %}

{% block content %}
    <div class="stats-container">
        <h2>Age Statistics</h2>
        <div id="age-chart-container">
            <canvas id="age-chart" width="400" height="300"></canvas>
        </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/chart.js@2.9.3/dist/Chart.min.js"></script>
    <script>
        var ageData = {{ age_data|safe }};
        console.log(ageData);  // Add this line to check the data
        var ageRanges = ['0-18', '19-30', '31-45', '46-60', '61-100'];
        var data = ageData.map(entry => entry.data);

        var config = {
            type: 'bar',
            data: {
                labels: ageRanges,
                datasets: [{
                    data: data,
                    backgroundColor: [
                        '#3498db', '#2ecc71', '#e74c3c', '#f39c12', '#9b59b6'
                    ],
                    label: 'Age Distribution'
                }]
            },
            options: {
                responsive: true,
                scales: {
                    x: {
                        beginAtZero: true
                    },
                    y: {
                        beginAtZero: true,
                        type: 'logarithmic'  
                    }
                }
            }
        };
    
        window.onload = function() {
            var ctx = document.getElementById('age-chart').getContext('2d');
            window.myBar = new Chart(ctx, config);
        };
    </script>
    
    
{% endblock %}
