{% extends 'stats_base.html' %}

{% block content %}
    
    <div class="stats-container">
        <h2>Gender Statistics</h2>
        <div id="gender-chart-container">
            <canvas id="gender-chart"  width="600" height="500"></canvas>
        </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/chart.js@2.9.3/dist/Chart.min.js"></script>
    <script>
        var genderData = {{ gender_data|safe }};
        var labels = genderData.map(entry => entry.label);
        var data = genderData.map(entry => entry.data);

        var config = {
            type: 'doughnut',
            data: {
                datasets: [{
                    data: data,
                    backgroundColor: [
                        '#3498db', '#2ecc71', '#e74c3c', '#f39c12', '#9b59b6'
                    ],
                    label: 'Gender Distribution'
                }],
                labels: labels
            },
            options: {
                responsive: true
            }
        };

        window.onload = function() {
            var ctx = document.getElementById('gender-chart').getContext('2d');
            window.myPie = new Chart(ctx, config);
        };
    </script>
{% endblock %}
