{% extends 'stats_base.html' %}

{% block content %}
    <div class="stats-container">
        <h2>Trending Topics Statistics</h2>
        <div id="topics-chart-container">
            <canvas id="topics-chart" width="600" height="500"></canvas>
        </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/chart.js@2.9.3/dist/Chart.min.js"></script>
    <script>
        var topicData = {{ topic_data|safe }};
        var labels = topicData.map(entry => entry.label);
        var data = topicData.map(entry => entry.data);

var config = {
    type: 'horizontalBar',  // Use horizontalBar chart type
    data: {
        labels: labels,
        datasets: [{
            data: data,
            backgroundColor: [
                '#3498db', '#2ecc71', '#e74c3c', '#f39c12', '#9b59b6','#3498db', '#2ecc71', '#e74c3c', '#f39c12', '#9b59b6','#3498db'
            ],
            labels: labels
        }]
    },
    options: {
        responsive: true,
        scales: {
            x: {
                beginAtZero: true
            },
            y: {
                beginAtZero: true
            }
        }
    }
};

        window.onload = function() {
            var ctx = document.getElementById('topics-chart').getContext('2d');
            window.myHorizontalBar = new Chart(ctx, config);
        };
    </script>
{% endblock %}
